body {
    width: 960px;
    height: 800px;
    margin: 0px auto 0px auto;
}

.cuerpo {
    width: 960px;
    height: 50px;
    margin: 0px auto 0px auto;
    text-align: center;
}

.datos {
    width: 260px;
    height: 400px;
    float: left;
}

.descripcion {
    width: 700px;
    height: 600px;
    float: left;
}

.columna1 {
    width: 215px;
    height: 300px;
    float: left;
    margin-left: 0px;
}

.columna2 {
    margin-left: 5px;
    width: 220px;
    height: 300px;
    float: left;
}

.columna3 {
    margin-left: 5px;
    width: 215px;
    height: 300px;
    float: left;
}

li {
    list-style: none;
}

ul {
    list-style: none;
}